[tools]
go = "1.25.3"
golangci-lint = "2.6.0"

[tasks.test]
description = "Run tests"
run = "go test $(go list ./...)"

[tasks.fmt]
description = "Format code"
run = "gofmt -w ."

[tasks.lint]
description = "Lint code"
run = "golangci-lint run"

[tasks.deps]
description = "Update dependencies"
run = "go mod tidy"

[tasks.check]
description = "Run all checks"
depends = ['lint', 'test']

[tasks.build]
description = "Build the project"
run = "go build"
