# Lychee configuration file
# See https://lychee.cli.rs/config/

timeout = 30
retry_wait_time = 5
max_retries = 6
max_concurrency = 4

# Check link anchors
include_fragments = true

exclude = [
  # Google Docs links are often rate-limited
  "https://docs.google.com/.*",
  # Scripts have been removed/moved from these repos
  "https://github.com/grafana/docker-otel-lgtm/blob/main/scripts/run-acceptance-tests.sh",
  "https://github.com/prometheus/client_java/blob/main/scripts/run-acceptance-tests.sh"
]
