---
name: Build, Lint, and Test

on: [pull_request]

permissions: {}

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
      - name: Run tests
        run: mise run check
