---
name: End-to-end tests

on: [pull_request]

permissions: {}

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: jdx/mise-action@c53b9236f0b3370f31520f8b142f141256d839c6 # v3.6.0
      - name: Run end-to-end test
        run: mise run e2e-test
