---
name: Integration tests

on: [pull_request]

permissions: {}

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: jdx/mise-action@c53b9236f0b3370f31520f8b142f141256d839c6 # v3.6.0
      - name: Run integration test
        run: mise run integration-test
